*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	box-shadow: 2px 3px 5px 2px #ccc;
	width: 100%;
	padding: 10px 10px 0 10px;
	background-color: #222;
	align-items: center;
}
.nav-blocks-container{
	border-top: dashed 4px #c4c4c4;
	border-bottom: dashed 4px #c4c4c4;
	padding: 5px;
}
.nav-title{
	color: #fff;
	display: inline-block;
	font-size: 1.5em;
	line-height: 1.3;
	letter-spacing: 1.2px;
	vertical-align: middle;
	margin: auto 10px;
	text-align: center;
}
.nav-blocks-container span{
	background-color: #c4c4c4;
	margin: 5px;
	width: 30px;
	height: 20px;
}
.nav-links{
	list-style: none;
	display: inline-flex;
	color: #fff;
	text-align: center;
}
.nav-links li a{
	text-decoration: none;
	margin: 5px;
	color: #fff;
}
.main-body{
	border-right: solid 4px #000;
}
.main-body img{
	width: 100%;
	display: block;
	margin: auto;
	margin: 10px auto 30px auto;
}
aside iframe, aside img{
	width: 100%;
	display: block;
	margin: 30px auto;
}
.main-body section{
	box-shadow: 2px 3px 5px 2px #ccc;
	padding: 10px;
	margin: 20px auto;
}
.main-body section p{
	letter-spacing: 1px;
	line-height: 1.5;
}
.movie-section-title{
	font-weight: bold;
	color: #feed3a;
	background-color: #555;
	padding: 10px;
	text-align: center;
}
.aside-header{
	background-color: #710201;
	color: #fff;
	padding: 10px;
}
blockquote{
	color: #710201;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1.3px;
}
#back-to-top{
	background-color: #710201;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
footer{
	padding: 20px 0 5px 0;
}


@media only screen and (max-width: 480px) {
	.nav-title, .nav-links{
		display: block;
		text-align: left;
	}
	.border-right{
		border-right: none !important;
	}

}


@media only screen and (max-width: 1413px) {
	.nav-blocks-container{
		display: none;
	}
	.main-body{
		border-right: none;
	}
	aside{
		margin-top: 40px;
	}
}